{{! app/components/contact-section.hbs }}
<section id="contact" class="contact" aria-labelledby="contact-heading">

  <div class="contact__container">
    <h2 class="contact__heading">
      <span class="contact__title">Get In Touch</span>
      <span class="contact__subtitle">Experience Edomae Mastery</span>
    </h2>

    <div class="contact__grid">
      {{! Contact Form }}
{{! Update form elements with bindings }}
<form class="contact__form" {{on "submit" this.handleSubmit}}>
  <div class="form__group">
    <input 
      type="text" 
      id="name" 
      name="name"
      class="form__input"
      placeholder="Your Name"
      value={{this.formData.name}}
      {{on "input" this.updateFormData}}
      required
    >
    <i class="fa-solid fa-user form__icon"></i>
  </div>

  <div class="form__group">
    <input 
      type="email" 
      id="email" 
      name="email"
      class="form__input"
      placeholder="youremail.com"
      value={{this.formData.email}}
      {{on "input" this.updateFormData}}
      required
    >
    <i class="fa-solid fa-envelope form__icon"></i>
  </div>

  <div class="form__group">
    <textarea 
      id="message" 
      name="message"
      class="form__textarea"
      placeholder="Dietary restrictions, preferred ingredients..."
      rows="5"
      {{on "input" this.updateFormData}}
      required
    >{{this.formData.message}}</textarea>
    <i class="fa-solid fa-pen-nib form__icon"></i>
  </div>

  <button 
    type="submit" 
    class="form__submit" 
    disabled={{this.isSubmitDisabled}}
  >
    {{#if this.isLoading}}
      <i class="fa-solid fa-spinner fa-spin"></i>
    {{/if}}
    <span>{{this.submitButtonText}}</span>
    <i class="fa-solid fa-fish"></i>
  </button>

  {{#if this.showSuccess}}
    <div class="form-success">
      Consultation request received successfully!
    </div>
  {{/if}}

  {{#if this.showError}}
    <div class="form-error">
      Submission failed. Please try again.
    </div>
  {{/if}}
</form>

      {{! Contact Info }}
      <div class="contact__info">
        <div class="info__card">
          <i class="fa-solid fa-map-marker-alt info__icon"></i>
          <h3 class="info__title">Johannesburg, South Africa</h3>
          <p class="info__text">1-2-3 Ranburg, Jhb City<br>Jhb 04-0061</p>
          <div class="info__divider"></div>
        </div>

        <div class="info__card">
          <i class="fa-solid fa-clock info__icon"></i>
          <h3 class="info__title">Service Hours</h3>
          <p class="info__text">Wednesday - Sunday<br>17:00 - 23:00</p>
          <div class="info__divider"></div>
        </div>

        <div class="info__social">
          <a href="https://www.instagram.com/_sushi.kings_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="social__link">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="#" class="social__link">
            <i class="fa-brands fa-whatsapp"></i>
          </a>

          <a href="#" class="social__link">
            <i class="fa-solid fa-phone-volume"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>