<section id="gallery" class="gallery" aria-labelledby="gallery-heading">
  <h2 id="gallery-heading" class="gallery__heading">
    <span class="gallery__heading-text">Edible Artistry</span>
    <span class="gallery__heading-line"></span>
  </h2>

  {{#if this.galleryData.isLoading}}
    <div class="gallery__loading">
      <div class="gallery__spinner"></div>
      <p>Preparing Culinary Visuals...</p>
    </div>
  {{else if this.galleryData.error}}
    <div class="gallery__error">
      <p>Presentation Temporarily Unavailable</p>
      <button 
        type="button" 
        class="gallery__retry-btn"
        {{on "click" this.retryLoad}}
      >
        Refresh Selection
      </button>
    </div>
  {{else}}
    <div class="gallery__grid">
      {{#each this.galleryData.items as |item index|}}
        <figure 
          class="gallery__item" 
          role="button"
          {{on "click" (fn this.handleImageClick index)}}
        >
          <img 
            src="{{item.image}}" 
            alt="{{item.alt}}" 
            class="gallery__image"
            loading="lazy"
          >
          <figcaption class="gallery__caption">
            <span class="gallery__dish-name">{{item.name}}</span>
            <span class="gallery__ingredients">{{item.ingredients}}</span>
          </figcaption>
        </figure>
      {{/each}}
    </div>
    <Lightbox 
      @items={{this.galleryData.items}} 
      @selectedIndex={{this.lightboxIndex}}
    />
  {{/if}}
</section>